<div class="history">

    <h2>Version History</h2>

    <table>

        <thead>
            <tr>
                <th>ID</th>
                <th>Configuration</th>
                <th>Version</th>
                <th>Data</th>
                <th>Created By</th>
                <th>Created At</th>
                <th>Action</th>
            </tr>
        </thead>

        <tbody>

            @for (version of (versions$ | async); track version.id) {

                <tr>
                    <td>{{ version.id }}</td>

                    <td>{{ version.configurationId }}</td>

                    <td>{{ version.versionNumber }}</td>

                    <td>{{ version.configurationJson }}</td>

                    <td>{{ version.author }}</td>

                    <td>{{ version.createdAt | date:'medium' }}</td>

                    <td>
                        <button class="btn-view" (click)="edit(version.id)">Edit</button>
                    </td>
                </tr>

            }

        </tbody>

    </table>

</div>